
body{
	font-family: 'Allerta', sans-serif;
	margin: 0;
 }
 button 
 {
 	border-radius: 8px;
 	border: none;
 	background: red;
 	color: black;
 }
 
.titulo
{
	font-family: 'Montserrat', sans-serif;
	font-size: 70px;
	margin-bottom: 20px;
	margin-top: 60px;
}
.title-a
{
	font-size: 24px;
	margin-top: 0;
}
.title-b
{
	font-size: 50px;
	margin-bottom: 20px;
}
.autos
{
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
	width: 800px;
	margin: auto;
	overflow: hidden;
	border: 1px solid #1F313C;
	border-radius: 10px 10px 10px 10px;

}
.portada button
{
	margin-bottom: 70px;
}
.portada
{
	background-image: url('../Imagenes/llanta.jpg');
	color: white;
	padding: 20px;
	width: 800px;
	margin: auto;
}
.menu
{
	font-size: 24px;
	display: inline-block;
}
.menu li
{
	display: inline-block;
	margin-left: 30px;
}
.logotipo
{
	display: inline-block;
}
.contenedor
{
	width: 800px;
	margin: auto;
}
.derecha
{
	float: right;
	position: relative;
	top: 50px;

}
.izquierda
{
	float: left;
	position: relative;
	top: 50px;
}
.contenedor_2
{
	margin-right: 370px;
	padding-left: 20px;
}
.contenedor_3
{
	margin-left: 370px;
	padding-right: 20px;
}
